doctype html
html
  head
    title= title
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    script(language="javascript" src="/js/bootstrap.bundle.min.js")
    script(language="javascript" src="/jquery/jquery.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  
